@font-face {
	font-family: "europa";
	src: url("/fonts/europa-regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "europa-bold";
	src: url("/fonts/europa-bold.ttf");
	font-weight: normal;
	font-style: normal;
}

::-moz-selection {
	color: #4A2C81;
	background: #4A2C8120;
}

::selection {
	color: #4A2C81;
	background: #4A2C8120;
}

.semi {
	font-family: 'europa-bold';
}

#app, button, input, textarea {
	font-family: "Europa", sans-ser;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.noselect, img, br, button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nav a {
	color: #4A2C81;
	text-decoration: none;
	font-size: 1.2em;
	margin-left: 1em;
}

img {
	width: 100%;
}

body::-webkit-scrollbar {
	/* width: 8px; */
	display: none;
}

body::-webkit-scrollbar-track {
	display: none;
	/* background: none; */
}

body::-webkit-scrollbar-thumb {
	display: none;
	/* background-color: #4A2C81;
	border-radius: 0px;
	border: 0px solid #4A2C81; */
}

.zero {
	margin: 0 !important;
}

button.cool {
	box-shadow: 0px 8px 32px rgba(145, 106, 219, 0.678);
	background-color: #6c43b9;
	color: #fff;
	border: none;
	transform: translateY(-4px);
	transition: 0.5s;
}

a {
	color: #693cbb;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: #ac8de6;
}

button.cool:hover {
	transform: translateY(0px);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #916adb;
}

button.cool:focus {
	background-color: #916adb;
}